/* Add CSS Styling */
.p-style {
  background-color: lightpink;
  font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#div2 {
  color: blue;
  font-size: 36px;
}

.p-3rd-style {
  font-size: 24px;
}

#div4 {
  background-color: lightgreen;
  font-size: 24px;
  font-weight: bold;
}